<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Envoy-Cart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Afacad">
  <link href='https://fonts.googleapis.com/css?family=Atma' rel='stylesheet'>
</head>
<body>
  <div class="banner">
    <h1 class="logo"></h1>
      <div class="options-container">
        <a href="{{ url_for('signout') }}" class="option">Sign Out</a>
      </div>
  </div>
  <div class="top">
    <h1>Envoy</h1>
  </div>
</div>
<main>
  <p class="notiftxt">You're all set! You will receive an email notification on your selected courses if a seat is opened!</p>
  <button class="backhome"><a href="{{ url_for('homepg') }}">Back to Home</a></button>
</main>
</body>

</html>

